{{template "partials/header" .}}

<h1>Edit Produk</h1>
<br>
<form method="POST" action="/products/editproduct/{{.Product.Id}}">
	<div class="mb-3">
		<label for="name" class="form-label">Name</label>
		<input type="text" class="form-control" value="{{.Product.Name}}" name="name" id="name" placeholder="Nama">
	</div>
	<div class="mb-3">
		<label for="name" class="form-label">Quantity</label>
		<input type="number" class="form-control" value="{{.Product.Quantity}}" name="quantity" id="quantity" placeholder="quantity">
	</div>
	<div class="mb-3">
		<label for="price" class="form-label">Price</label>
		<input type="number" step="0.01" class="form-control" value="{{.Product.Price}}" name="price" id="price" placeholder="price">
	</div>			
	<button type="submit" class="btn btn-primary">Simpan</button> &nbsp;
	<a href="/products" class="btn btn-primary">
		Cancel</a>
</form>

{{template "partials/footer" .}}